/* line 4, passgenerator/static/passgenerator/style.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 37, passgenerator/static/passgenerator/style.scss */
nav {
  width: 100%;
  height: 50px;
  border-bottom: 0.5px solid gray; }
  /* line 42, passgenerator/static/passgenerator/style.scss */
  nav .logo {
    width: 10%;
    height: 40px;
    font-family: "JetBrains Mono", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px; }
    @media only screen and (max-width: 600px) {
      /* line 42, passgenerator/static/passgenerator/style.scss */
      nav .logo {
        width: 20%; } }
    @media only screen and (min-width: 601px) and (max-width: 900px) {
      /* line 42, passgenerator/static/passgenerator/style.scss */
      nav .logo {
        width: 20%; } }
/* line 58, passgenerator/static/passgenerator/style.scss */
.form-area {
  width: 100%;
  height: 80vh;
  background-color: #747264; }
