* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
}

@mixin center_element {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin backgroundImage {
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
}
@mixin respond-to($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 600px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media only screen and (min-width: 601px) and (max-width: 900px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media only screen and (min-width: 901px) {
      @content;
    }
  } @else {
    @error "Invalid breakpoint: #{$breakpoint}. Please use 'phone', 'tablet', or 'desktop'.";
  }
}
nav {
  width: 100%;
  height: 50px;
  border-bottom: 0.5px solid gray;

  .logo {
    width: 10%;
    height: 50px;
    font-family: 'JetBrains Mono', monospace;
    @include center_element();
    flex-direction: column;
    gap: 2px;
    @include respond_to(phone) {
      width: 40%;
    }
    @include respond-to(tablet) {
      width: 20%;
    }
  }
}

.form-area {
  width: 100%;
  height: 1300px;
  background-image: repeating-linear-gradient(
      0deg,
      rgba(219, 219, 219, 0.2) 0px,
      rgba(219, 219, 219, 0.2) 1px,
      transparent 1px,
      transparent 21px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(219, 219, 219, 0.2) 0px,
      rgba(219, 219, 219, 0.2) 1px,
      transparent 1px,
      transparent 21px
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
  padding-top: 20px;
  @include respond-to(phone) {
    display: block;
    padding-top: 20px;
    height: 1300px;
  }
  @include respond-to(tablet) {
    height: 1300px;
    display: block;
    padding-top: 20px;
  }
  .inner-form-area {
    width: 50%;
    height: 1200px;
    border-radius: 20px;
    margin: auto;
    @include respond-to(phone) {
      height: 1100px;
      width: 95%;
      margin: auto;
    }
    @include respond-to(tablet) {
      height: 1100px;
      width: 95%;
      margin: auto;
    }
    .descriptive_text {
      width: 100%;
      height: 300px;
      text-align: center;
      @include center_element();
      @include respond-to(phone) {
        height: 300px;
      }
      h1 {
        font-size: 40px;
        font-family: 'JetBrains Mono', monospace;
        font-weight: 800;
        @include respond-to(phone) {
          font-size: 30px;
        }
        @include respond-to(tablet) {
          font-size: 40px;
        }
      }
    }

    #pg-form {
      width: 70%;
      height: 900px;
      margin: auto;
      background-color: white;
      border-radius: 40px;
      border: 0.2px solid gray;
      @include respond-to(phone) {
        width: 100%;
      }
      @include respond-to(tablet) {
        width: 75%;
      }
      @include center_element();
      .inner-form {
        width: 90%;
        height: 700px;
        // background-color: green;
        // styling here
        .parent-password-length {
          width: 100%;
          height: 130px;
          // background-color: orange;
          label {
            font-size: 20px;
            font-weight: 800;
            @include respond-to(phone) {
              font-size: 16px;
              font-weight: 800;
            }
          }
          input {
            width: 100%;
            height: 50px;
            margin-top: 5px;
            outline: none;
            padding-left: 20px;
            font-size: 16px;
            border-radius: 20px;
            border: 0.5px solid black;
          }
        }
        // ends here
        .uls {
          width: 100%;
          height: 170px;
          // background-color: beige;
          .character-type-text {
            width: 100%;
            height: 30px;
            p {
              font-size: 20px;
              font-weight: 800;
              @include respond-to(phone) {
                font-size: 16px;
                font-weight: 800;
              }
            }
          }

          .inner-uls {
            width: 100%;
            height: calc(150px - 30px);
            // background-color: aqua;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;

            @include respond-to(phone) {
              font-size: 16px;
            }
            input {
              margin-right: 10px;
              font-size: 16px;
            }
          }
        }
        .ambigiouText {
          width: 100%;
          height: 100px;
          // background-color: brown;
          display: flex;
          align-items: center;
          padding-top: 5px;
          padding-bottom: 5p;

          p {
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;
            font-weight: 800;
            input {
              width: 20px;
              height: 20px;
              margin-top: 4px;
            }
            @include respond-to(phone) {
              font-size: 16px;
              font-weight: 800;
            }
          }
        }
        // second styling here
        .Parent-Optional-words {
          width: 100%;
          height: 100px;
          // background-color: rgb(255, 0, 93);
          label {
            font-size: 20px;
            font-weight: 800;
            @include respond-to(phone) {
              font-size: 16px;
              font-weight: 800;
            }
          }
          input {
            width: 100%;
            height: 50px;
            margin-top: 5px;
            outline: none;
            border: 0.5px solid black;
            padding-left: 20px;
            font-size: 16px;
            border-radius: 20px;
          }
        }

        // ends here

        .button-container {
          width: 100%;
          height: 50px;
          // background-color: red;
          margin-top: 20px;

          button {
            width: 30%;
            height: 50px;
            background-color: #dd2222;
            color: white;
            border: none;
            outline: none;
            cursor: pointer;
            @include respond-to(phone) {
              width: 50%;
            }
          }
        }
        .password-strength-container {
          width: 100%;
          height: 50px;
          display: flex;
          align-items: center;
          p {
            font-weight: 800;
            @include respond-to(phone) {
              font-size: 16px;
              font-weight: 800;
            }
          }
        }
        .generated-password-container {
          width: 100%;
          height: 50px;
          display: flex;
          align-items: center;
          p {
            font-weight: 800;
            @include respond-to(phone) {
              font-size: 16px;
              font-weight: 800;
            }
          }
        }
        .button-container2 {
          width: 100%;
          height: 50px;
          // background-color: red;
          margin-top: 20px;
          button {
            width: 30%;
            height: 50px;
            background-color: #378ce7;
            color: white;
            border: none;
            outline: none;
            cursor: pointer;
            @include respond-to(phone) {
              width: 50%;
            }
          }
        }
      }
    }
    .copy_div {
      width: 100%;
      height: 50px;
      // background-color: #4f6175;
      margin-bottom: 10px;
      @include center_element();
      button {
        width: 40px;
        height: 40px;
        background-color: white;
        border: none;
        cursor: pointer;
        i {
          font-size: 30px;
          color: #4f6175;
        }
      }
    }
    .btn_div {
      width: 100%;
      height: 50px;
      @include center_element();
      button {
        width: 20%;
        height: 50px;

        border: none;
        font-size: 15px;
        // background-color: #dd2222;
        color: white;
        font-family: 'JetBrains Mono', monospace;

        @include respond-to(phone) {
          width: 50%;
        }
      }
    }
  }
}

footer {
  width: 100%;
  height: 60px;
  border-top: 0.5px solid gray;
  @include center_element();
  font-family: 'JetBrains Mono', monospace;
  @include respond-to(phone) {
    height: 100px;
    padding: 30px;
  }
  @include respond-to(tablet) {
    height: 100px;
  }
}
